<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Deals
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class ="gameList">
    <ion-searchbar [(ngModel)]="searchTerm" (ionBlur)="getTitles()"></ion-searchbar>
  <ion-card *ngFor="let data of foundItems" routerLink="/detail/{{data.AppID}}/{{data.Plain}}" class="game">
    <img [src]="getImage(data.AppID)" alt='image' onError="this.src='assets/gallery-512.png';">
  <ion-card-header>
    <ion-card-title>{{data.Name}}</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        Lowest Recorded Price:
        <p>{{data.Overview.lowest != null ? data.Overview.lowest.price : 'No Price'}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
