<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class ="gameList">
      <ion-card *ngFor="let data of gameDeals" (click)="openPage(data.urls.buy)" class="game">
      <ion-card-header>
        <ion-card-title>{{data.title}} - {{data.shop.name}}</ion-card-title>
        </ion-card-header>
          <ion-card-content>
            <p>Price Cut:</p>
            <p class="oldPrice">{{data.price_old}}</p>
            {{data.price_new}} - {{data.price_cut}}%
          </ion-card-content>
        </ion-card>
      </ion-list>
  
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Deals...">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
